* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    h3 {
        margin: 20px 10px;
    }
    .userList {
        margin: 20px 10px;

        /* input {
            background-image: url(https://www.w3schools.com/css/searchicon.png);
            background-position: 3px 3px;
            background-repeat: no-repeat;
            width: 30%;
            border-radius: 3px;
            padding: 2px 15px 2px 30px;
        } */
        input {
     
      
            width: 30%;
            height: 45px;
            font-size: 14px;
            padding: 0 10px;
            
            background: transparent;
            color: #363636;
            outline: none;
            padding: 0 50px 0 15px;
            border: 1px solid #ebebeb;
            overflow: hidden;
            background: #fff;
            background-image: url(https://img.icons8.com/ios/50/search--v1.png);
            background-repeat: no-repeat;
            background-position: calc(100% - 5px) center; 
            background-size: 30px;
            border-radius: 9999px !important;
            padding: 3px !important;
            padding-left: 15px !important;
            border: 1px solid;
            transition: width 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
           
            }
            
        
            input:focus {
              width: 60%;
              outline: none;
            }
    }
}