.wrap {
    display: flex;
    height: calc(100vh - 65px);
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    margin-top: -5px;
    position: relative;
    img {
        max-width: 700px;
        max-height: 700px;
    }
}
