* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    .container {
        margin: 0px;
        display: flex;
        direction: column;
        background-color: white;
        height: 100vh;
        //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
        //Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        top: 0;
        right: 0;

        .nav {
            display: flex;
            position: fixed;
            background-color: white;
            font-size: 20px;
            width: 100vw;
            height: 40px;
            margin-left: 15px;
            color: #007bff;
        }

        .form {
            position: relative;
            width: 100vw;

            .form-group {
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                padding: 10px 20px 5px 20px;
                margin: 0px 10px;
                border-color: #007bff;
                box-shadow: 0 0 3px rgba(0, 123, 255, 0.8);
                border-radius: 5px;

                .form-input {
                    margin: 10px 0;

                    .form-label {
                        span {
                            color: red;
                            font-size: 16px;
                        }
                    }

                    input:focus {
                        border-color: #007bff;
                        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                        outline: none;
                    }

                    .form-message {
                        color: red;
                        font-size: 14px;
                    }
                }

                .btn {
                    position: relative;
                    left: 30px;
                    margin-top: 40px;
                    margin-left: 20px;
                    text-align: center;

                    .cancel {
                        text-align: center;
                        display: inline-block;
                        padding: 8px;
                        margin: 7px;
                        width: 100px;
                        color: #36a2eb;
                        background-color: #ffffff;
                        border: 2px solid #36a2eb;
                        border-radius: 8px;
                        font-family: "proxima-nova-soft", sans-serif;
                        font-weight: 600;
                        text-decoration: none;
                        transition: box-shadow 200ms ease-out;
                    }

                    .cancel:hover {
                        border: 2px solid rgb(48, 94, 244);
                        color: rgb(48, 94, 244)
                    }

                    .form-submit {
                        text-align: center;
                        display: inline-block;
                        padding: 8px;
                        margin: 10px;
                        width: 100px;
                        color: #ffffff;
                        background-color: #36a2eb;
                        border-radius: 8px;
                        font-family: "proxima-nova-soft", sans-serif;
                        font-weight: 600;
                        text-decoration: none;
                        transition: box-shadow 200ms ease-out;
                    }

                    .form-submit:hover {
                        background-color: rgba(54, 163, 235, 0.8);
                    }
                }
            }
        }

    }
}