collector {
  license {
    accept = true
  }

  interface = "0.0.0.0"
  port = 8080

  streams {
    good {
      name = "good"
      brokers = "kafka2:9093, kafka1:9092" 
    }
    bad {
      name = "bad"
      brokers = "kafka2:9093, kafka1:9092"  
    }
  }
}